.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../images/CloseIcon.svg');
  background-size: contain;
  border: none;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 1s, ease, 1s;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}