.popup__save-button_disabled {
  background-color: white;
  color: black;
  border: 1px solid #000000;
  opacity: 0.2;
  cursor: auto;
  }

.popup__save-button_disabled:hover {
  opacity: 0.2;
  cursor: auto;
}