.profile__add-button {
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url('../../../images/plus.svg');
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  align-self: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 1s, ease, 1s;
}

@media screen and (max-width: 1023px) {
  .profile__add-button {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 36px 0 0;
    width: 282px;
    background-size: 16px 16px;
  }
}