.popup__container-fullscreen {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
      
}

.popup__container-fullscreen:hover {
  cursor: auto;

}
